@font-face {
    font-family: 'FFDINWebPro';
    src: url("./fonts/324F4C_5_0.eot");
    src: url("./fonts/324F4C_5_0.eot?#iefix") format("embedded-opentype"), url("./fonts/324F4C_5_0.woff") format("woff"), url("./fonts/324F4C_5_0.ttf") format("truetype"); 
  }
  
  @font-face {
    font-family: 'FFDINWebProBold';
    src: url("./fonts/324F4C_3_0.eot");
    src: url("./fonts/324F4C_3_0.eot?#iefix") format("embedded-opentype"), url("./fonts/324F4C_3_0.woff") format("woff"), url("./fonts/324F4C_3_0.ttf") format("truetype"); 
  }
