<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="guitarguitar" />
    <meta name="copyright" content="guitarguitar" />
    
    <title>GGAP</title>

    @Styles.Render("~/bundles/styles")

    <script>
        window.Config = { webAdminServiceBase: '@ConfigurationManager.AppSettings["WebAdminServiceBase"]' };
    </script>
</head>
<body>
    <div id="root"></div>
    <noscript>
        You need to enable JavaScript to run this app.
    </noscript>
    @Scripts.Render("~/bundles/scripts")
</body>
</html>
